* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
}

header {
  position: relative;
  background: rgba(36, 36, 36, 0.86);
  z-index: 99;
}

header .top_header {
  border-bottom: 1px solid #444;
}

header .top_header .nav_top {
  line-height: 55px;
  color: #aaa;
  background: transparent;
}

header .top_header .nav_top .nav_manu {
  margin: 0;
  padding: 0 20px;
  list-style: none;
  display: inline-block;
}

header .top_header .nav_top .nav_manu li {
  display: inline-block;
  margin-right: 25px;
  vertical-align: middle;
  list-style: none;
}

header .top_header .nav_top .nav_manu li:first-child a {
  color: #ba933e;
}

header .top_header .nav_top .nav_manu li a {
  color: #bbb;
}

header .top_header .nav_top .nav_curr {
  border-left: 1px solid #444;
}

header .top_header .social {
  text-align: right;
  line-height: 55px;
  color: #aaa;
  background: transparent;
}

header .top_header .social .nav_manu {
  margin: 0;
  padding: 0 20px;
  list-style: none;
  display: inline-block;
}

header .top_header .social .nav_manu li {
  display: inline-block;
  margin-right: 25px;
  vertical-align: middle;
  list-style: none;
}

header .top_header .social .nav_manu li a {
  color: #bbb;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .top_header .social .nav_manu li a:hover {
  color: #ba933e;
}

header .bottom_header {
  position: relative;
  background: rgba(36, 36, 36, 0.86);
}

header .bottom_header .navbar .navbar-brand {
  font-size: 36px;
  font-weight: 700;
  color: #ba933e;
  text-transform: uppercase;
}

header .bottom_header .navbar .navbar-toggler {
  background: #fff;
}

header .bottom_header .navbar .navbar-toggler:focus {
  -webkit-box-shadow: #ba933e 0 0 0 0.2rem;
          box-shadow: #ba933e 0 0 0 0.2rem;
}

header .bottom_header .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  padding: 10px 15px;
  text-transform: uppercase;
  line-height: 4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .bottom_header .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #ba933e;
}

header .bottom_header .navbar .collapse .navbar-nav .nav-item .dropdown-menu {
  background: #ba933e;
  width: 500px;
  font-weight: 700;
  color: #fff;
}

header .bottom_header .navbar .collapse .navbar-nav .nav-item .dropdown-menu li a {
  color: #fff;
  font-weight: 700;
}

header .bottom_header .navbar .collapse .navbar-nav .nav-item .dropdown-menu li a:hover {
  color: #000;
  background: transparent;
}

header .bottom_header .navbar .collapse .navbar-nav .nav-item .dropdown-menu li .inner_poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .bottom_header .navbar .collapse .navbar-nav .nav-item .dropdown-menu li .inner_poster .product_img_nav {
  margin: 5px;
}

header .bottom_header .navbar .collapse .navbar-nav .nav-item .dropdown-menu li .inner_poster .product_img_nav img {
  width: 80px;
  height: 100px;
}

header .bottom_header .navbar .collapse .navbar-nav .nav-item:hover .dropdown-menu {
  display: block;
}

header .bottom_header .navbar .collapse .navbar-nav .nav-item:hover .dropdown-toggle::after {
  border-left: .3em solid;
  border-bottom: .3em solid transparent;
  border-right: 0;
  border-top: .3em solid transparent;
  color: #ba933e;
}

header .bottom_header .navbar .carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .bottom_header .navbar .carts .carts_box {
  font-size: 30px;
  color: #fff;
  padding: 12px 15px;
}

header .strickyy {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-animation: ss 0.92s linear;
          animation: ss 0.92s linear;
  z-index: 999999999999;
}

@-webkit-keyframes ss {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes ss {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.carousel-control-prev, .carousel-control-next {
  opacity: 0;
}

.carousel-control-prev span, .carousel-control-next span {
  color: #888;
  font-size: 48px;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 10px 20px;
}

.carousel-control-prev span:hover, .carousel-control-next span:hover {
  color: #ba933e;
}

.slider .slide:hover .carousel-control-next {
  opacity: 0.5;
}

.slider .slide:hover .carousel-control-prev {
  opacity: 0.5;
}

.slider .slide .carousel-inner .carousel-item .carousel-caption {
  right: -20%;
  top: 30%;
}

.slider .slide .carousel-inner .carousel-item .carousel-caption h1 {
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  font-size: 75px;
}

.slider .slide .carousel-inner .carousel-item .carousel-caption h2 {
  text-transform: uppercase;
  font-size: 92px;
  -webkit-text-stroke: 1px #fff;
  font-weight: 600;
  color: transparent;
}

.slider .slide .carousel-inner .carousel-item .carousel-caption h4 {
  color: #ba933e;
  font-size: 38px;
}

.slider .slide .carousel-inner .carousel-item .carousel-caption h4 span {
  color: #fff;
  font-weight: 700;
}

.slider .slide .carousel-inner .carousel-item .carousel-caption h5 {
  color: #ba933e;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 42px;
}

.slider .slide .carousel-inner .carousel-item .carousel-caption P {
  text-transform: uppercase;
  color: #bbb;
}

.slider .slide .carousel-inner .carousel-item .carousel-caption .slider_btn {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  background: #ba933e;
  border: none;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider .slide .carousel-inner .carousel-item .carousel-caption .slider_btn:hover {
  background: #000;
  color: #ba933e;
}

.collection .single_carts {
  padding: 20px;
}

.collection .single_carts .carts_img {
  position: relative;
}

.collection .single_carts .carts_img::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.411);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.collection .single_carts .carts_img:hover::after {
  opacity: 1;
}

.collection .single_carts .carts_con {
  padding: 0;
  margin: 0;
}

.collection .single_carts .carts_con h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 45px;
  margin-bottom: 20px;
  position: relative;
  color: #000;
}

.collection .single_carts .carts_con h1::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 5px;
  background: #ba933e;
}

.collection .single_carts .carts_con p {
  padding: 20px 0;
  font-size: 17px;
  color: #888;
}

.collection .single_carts .carts_con a {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  background: #000;
  padding: 15px 35px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.collection .single_carts .carts_con a:hover {
  background: #ba933e;
}

.banner_main {
  background-image: url("../img/bkg_pricecoutdown.jpg");
}

.banner_main .banner .banner_right .banner_right_top {
  color: #fff;
}

.banner_main .banner .banner_right .banner_right_top h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 45px;
}

.banner_main .banner .banner_right .banner_right_top h3 {
  font-size: 22px;
  font-weight: 400;
  color: #ba933e;
}

.banner_main .banner .banner_right .banner_right_top h3 span {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}

.banner_main .banner .banner_right .banner_right_top .dates li {
  display: inline-block;
  padding: 10px 15px;
  border: 2px solid #444;
  margin: 10px;
}

.banner_main .banner .banner_right .banner_right_top .dates li h4 {
  font-size: 25px;
}

.banner_main .banner .banner_right .banner_right_top .dates li p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.banner_main .banner .banner_right .banner_right_bottom .banner_carts {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.banner_main .banner .banner_right .banner_right_bottom .banner_carts .banner_con p {
  color: #888;
}

.banner_main .banner .banner_right .banner_right_bottom .banner_carts .banner_con h6 {
  color: #fff;
  padding: 0 10px;
}

.banner_main .banner .banner_right .banner_right_bottom .banner_carts .banner_con h6 span {
  color: #888;
  padding: 0 5px;
}

.banner_main .banner .banner_right .banner_right_bottom .banner_carts .banner_carts_img {
  position: relative;
}

.banner_main .banner .banner_right .banner_right_bottom .banner_carts .banner_carts_img::after {
  content: "SALE";
  position: absolute;
  right: 0;
  top: 0;
  padding: 4px 10px;
  background: rgba(36, 36, 36, 0.86);
  font-size: 12px;
  color: #fff;
}

.banner_main .banner .banner_right .banner_right_bottom .banner_carts .banner_carts_img .sec_img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner_main .banner .banner_right .banner_right_bottom .banner_carts .banner_carts_img .sec_img .mid_btn {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 45%;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background: #ba933e;
  padding: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner_main .banner .banner_right .banner_right_bottom .banner_carts:hover .sec_img {
  opacity: 1;
}

.banner_main .banner .banner_right .banner_right_bottom .banner_carts:hover .go_carts {
  display: block;
}

.banner_main .banner .banner_right .banner_right_bottom .banner_carts .go_carts {
  z-index: 9999999999;
  display: none;
  padding: 10px 0;
  position: relative;
}

.banner_main .banner .banner_right .banner_right_bottom .banner_carts .go_carts::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: #444;
  margin: -10px 0;
}

.banner_main .banner .banner_right .banner_right_bottom .banner_carts .go_carts .go_cats_con {
  float: left;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.banner_main .banner .banner_right .banner_right_bottom .banner_carts .go_carts .go_cart_ul {
  float: right;
}

.banner_main .banner .banner_right .banner_right_bottom .banner_carts .go_carts .go_cart_ul li {
  display: inline;
  padding: 0 3px;
  margin-left: 5px;
}

.banner_main .banner .banner_right .banner_right_bottom .banner_carts .go_carts .go_cart_ul li a {
  color: #fff;
  font-size: 18px;
}

.banner_main .banner .banner_right .banner_right_bottom:hover .owl-carousel .owl-nav {
  opacity: 1;
}

.banner_main .banner .banner_right .banner_right_bottom .owl-carousel .owl-nav {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner_main .banner .banner_right .banner_right_bottom .owl-carousel .owl-nav button {
  background: rgba(255, 255, 255, 0.9);
  color: #888;
  font-size: 38px;
  border: 1px solid #444;
  -webkit-transition: .3s;
  transition: .3s;
}

.banner_main .banner .banner_right .banner_right_bottom .owl-carousel .owl-nav button:hover {
  background: #ba933e;
  color: #fff;
}

.banner_main .banner .banner_right .banner_right_bottom .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: -10px !important;
  top: 30%;
}

.banner_main .banner .banner_right .banner_right_bottom .owl-carousel .owl-nav button.owl-prev i {
  padding: 15px;
}

.banner_main .banner .banner_right .banner_right_bottom .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: -20px !important;
  top: 30%;
}

.banner_main .banner .banner_right .banner_right_bottom .owl-carousel .owl-nav button.owl-next i {
  padding: 15px;
}

.product_carts .top_view h1 {
  color: #000;
  font-weight: 700;
  font-size: 45px;
}

.product_carts .top_view p {
  color: #888;
}

.product_carts .product_wpr .product_owl .owl-nav {
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.product_carts .product_wpr .product_owl .owl-nav button {
  background: rgba(255, 255, 255, 0.9);
  color: #888;
  font-size: 38px;
  border: 1px solid #444;
  -webkit-transition: .3s;
  transition: .3s;
}

.product_carts .product_wpr .product_owl .owl-nav button:hover {
  background: #ba933e;
  color: #fff;
}

.product_carts .product_wpr .product_owl .owl-nav button.owl-prev {
  position: absolute;
  left: -40px !important;
  top: 30%;
}

.product_carts .product_wpr .product_owl .owl-nav button.owl-prev i {
  padding: 15px;
}

.product_carts .product_wpr .product_owl .owl-nav button.owl-next {
  position: absolute;
  right: -40px !important;
  top: 30%;
}

.product_carts .product_wpr .product_owl .owl-nav button.owl-next i {
  padding: 15px;
}

.product_carts .product_wpr .product_owl .item .item_products {
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.product_carts .product_wpr .product_owl .item .item_products .product {
  position: relative;
}

.product_carts .product_wpr .product_owl .item .item_products .product .product_img {
  overflow: hidden;
  position: relative;
}

.product_carts .product_wpr .product_owl .item .item_products .product .product_img img {
  width: 100%;
}

.product_carts .product_wpr .product_owl .item .item_products .product .product_img .option_btn {
  background: #ba933e;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  bottom: -20px;
  left: 0;
  opacity: 0;
  padding: 10px 10px;
  cursor: pointer;
}

.product_carts .product_wpr .product_owl .item .item_products .product .product_img .option_btn a span {
  color: #fff;
  background: #ba933e;
  cursor: pointer;
}

.product_carts .product_wpr .product_owl .item .item_products .product .product_img .button_group {
  position: absolute;
  right: -8px;
  top: 0px;
  opacity: 0;
  z-index: 6;
}

.product_carts .product_wpr .product_owl .item .item_products .product .product_img .button_group .b_g_ul li {
  padding: 5px;
}

.product_carts .product_wpr .product_owl .item .item_products .product .product_img .button_group .b_g_ul li a {
  border: 1px solid #ba933e;
  color: #ba933e;
  padding: 3px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.product_carts .product_wpr .product_owl .item .item_products .product .product_img .button_group .b_g_ul li a:hover {
  background: #ba933e;
  color: #fff;
  border: 1px solid #ba933e;
}

.product_carts .product_wpr .product_owl .item .item_products .product .deal_title {
  position: absolute;
  left: 0;
  top: -2px;
}

.product_carts .product_wpr .product_owl .item .item_products .product .deal_title .dicount {
  background: #ba933e;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 10px;
}

.product_carts .product_wpr .product_owl .item .item_products .product .deal_title .hot_deal {
  background: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 10px;
  margin: 0 -5px;
}

.product_carts .product_wpr .product_owl .item .item_products .product .p_content {
  padding: 10px 0;
}

.product_carts .product_wpr .product_owl .item .item_products .product .p_content p {
  font-size: 14px;
  font-weight: 400;
  color: #888;
  letter-spacing: 1.5px;
  margin: 0;
}

.product_carts .product_wpr .product_owl .item .item_products .product .p_content h6 {
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
}

.product_carts .product_wpr .product_owl .item .item_products .product .p_content h5 {
  padding: 0;
  margin-top: -5px;
  font-size: 16px;
  font-weight: 400;
}

.product_carts .product_wpr .product_owl .item .item_products .product .p_content h5 span {
  color: #ba933e;
  position: relative;
}

.product_carts .product_wpr .product_owl .item .item_products .product .p_content h5 span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 40%;
  width: 100%;
  height: 1.5px;
  background: #ba933e;
}

.product_carts .product_wpr .product_owl .item .item_products .product:hover .option_btn {
  opacity: 1;
  -webkit-transform: translateY(-20px) translateY(0%);
          transform: translateY(-20px) translateY(0%);
  -webkit-transition: 350ms ease-out;
  transition: 350ms ease-out;
}

.product_carts .product_wpr .product_owl .item .item_products .product:hover .button_group {
  opacity: 1;
  -webkit-transform: translateX(2px) translateX(-10%);
          transform: translateX(2px) translateX(-10%);
  -webkit-transition: 550ms ease-in-out;
  transition: 550ms ease-in-out;
}

.product_carts .product_wpr:hover .owl-nav {
  opacity: 1;
}

.product_carts .product_wpr .see_more_btn a {
  font-size: 16px;
  font-weight: 200;
  color: #000;
  padding: 5px 20px;
  border: 1px solid #000;
  border-radius: 2px;
}

.product_carts .product_wpr .see_more_btn a:hover {
  background: #000;
  color: #fff;
}

.elementor .b_full_width {
  border-top: 1px solid #444;
  width: 100%;
}

.elementor .news_products ._bloging {
  margin-top: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
          box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  padding: 15px;
}

.elementor .news_products ._bloging .img_bloging {
  overflow: hidden;
  position: relative;
}

.elementor .news_products ._bloging .img_bloging::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.elementor .news_products ._bloging .img_bloging:hover::after {
  opacity: 1;
}

.elementor .news_products ._bloging .img_bloging img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  height: auto;
}

.elementor .news_products ._bloging .img_bloging:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.elementor .news_products ._bloging ._title {
  padding-top: 30px;
}

.elementor .news_products ._bloging ._title h4 {
  text-transform: uppercase;
  font-weight: 700;
  color: #444;
}

.elementor .news_products ._bloging ._title .date_and_comm {
  font-size: 12px;
  color: #bbb;
}

.elementor .news_products ._bloging ._title p {
  padding-top: 15px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.2;
  color: #888;
}

.elementor .news_products ._bloging ._title .more_news_btn {
  color: #000;
  padding: 5px 0;
  position: relative;
}

.elementor .news_products ._bloging ._title .more_news_btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.elementor .news_products ._bloging ._title .more_news_btn:hover::before {
  width: 10%;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.ads_section .b_full_width {
  border-top: 1px solid #444;
  width: 100%;
}

.ads_section .top_title h3 {
  padding: 20px 0;
  color: #000;
  font-size: 35px;
}

.ads_section .top_title form {
  padding: 10px 0;
}

.ads_section .top_title form input {
  width: 450px;
  height: 35px;
  padding: 10px 10px;
  border-radius: 0 3px 3px 0;
  background: #e0e0e0;
  color: #888;
  border: none;
}

.ads_section .top_title form input::-webkit-input-placeholder {
  color: #888;
}

.ads_section .top_title form input:-ms-input-placeholder {
  color: #888;
}

.ads_section .top_title form input::-ms-input-placeholder {
  color: #888;
}

.ads_section .top_title form input::placeholder {
  color: #888;
}

.ads_section .top_title form .sub_btn {
  margin: -4px -3px;
  padding: 5px 25px;
  height: 37px;
  background: #ba933e;
  border: none;
  border-radius: 3px 0 0 3px;
  color: #fff;
}

.ads_section .full_width_ads {
  background-image: url("../img/banner-fullwidth-1.jpg");
  background-size: cover;
  background-position: center center;
  padding: 90px 90px;
}

.ads_section .full_width_ads h1 {
  font-weight: 700;
  color: #fff;
}

.ads_section .full_width_ads .more_access_btn {
  color: #fff;
  margin: 20px 0;
  padding: 10px 0;
  position: relative;
}

.ads_section .full_width_ads .more_access_btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fff;
  left: 0;
  bottom: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.ads_section .full_width_ads .more_access_btn:hover::before {
  width: 10%;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.ads_banner_main .top_title h4 {
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  cursor: help;
}

.ads_banner_main .top_title h4::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  width: 50%;
  margin: auto;
  height: 1px;
  border: 1px solid rgba(0, 0, 0, 0.414);
  border-radius: 100%;
  background: #000;
}

.ads_banner_main .poster {
  overflow: hidden;
}

.ads_banner_main .poster .poster_img {
  text-align: center;
  position: relative;
  position: relative;
}

.ads_banner_main .poster .poster_img img {
  width: 100%;
}

.ads_banner_main .poster .poster_img .poster_content {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  width: 100%;
  height: auto;
  padding: 20px;
  cursor: pointer;
}

.ads_banner_main .poster .poster_img .poster_content .top {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 18px;
  color: #fff;
  -webkit-transform: translateX(-350px);
          transform: translateX(-350px);
}

.ads_banner_main .poster .poster_img .poster_content .mid {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  margin: 20px 0;
  -webkit-transform: translateX(-420px);
          transform: translateX(-420px);
}

.ads_banner_main .poster .poster_img .poster_content .bottom {
  -webkit-transition: 1s;
  transition: 1s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 13px;
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
  color: #808f66;
  display: block;
  margin-top: 80px;
  pointer-events: visible;
  position: relative;
}

.ads_banner_main .poster .poster_img .poster_content .bottom::after {
  content: "";
  position: absolute;
  background: #808f66;
  left: 0;
  right: 0;
  bottom: -10px;
  width: 20%;
  margin: auto;
  height: 1px;
  border: 1px solid #808f66bb;
  border-radius: 50%;
}

.ads_banner_main .poster .poster_img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ads_banner_main .poster .poster_img:hover::before {
  opacity: 1;
}

.ads_banner_main .poster .poster_img:hover .top {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.ads_banner_main .poster .poster_img:hover .mid {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.ads_banner_main .poster .poster_img:hover .bottom {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

footer {
  background-image: url("../img/bkg_footer.jpg");
  margin-top: 50px;
}

footer .border_bm {
  border-bottom: 1px solid #444;
}

footer .contacts {
  margin: 20px 0;
  text-align: start;
  color: #bbb;
}

footer .contacts h2 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

footer .contacts P {
  font-style: italic;
}

footer .contacts .contact_ul {
  padding: 0;
  margin-top: 30px;
}

footer .contacts .contact_ul li {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
  word-spacing: 1.8px;
}

footer .contacts .contact_ul li a {
  color: #bbb;
}

footer .contacts .btn_shop {
  padding: 10px 20px;
  border: 1px solid #ba933e;
  background: transparent;
  color: #ba933e;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .contacts .btn_shop:hover {
  background: #ba933e;
  color: #fff;
}

footer .info {
  padding-left: 20px;
  margin: 20px 0;
}

footer .info h5 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 15px;
  position: relative;
}

footer .info h5::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background: #ba933e;
  bottom: 0;
  left: 0;
}

footer .info .info_ul {
  padding: 0;
  margin: 0;
}

footer .info .info_ul li {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 25px;
  word-spacing: 1.8px;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .info .info_ul li a {
  color: #bbb;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .info .info_ul li a:hover {
  color: #ba933e;
  padding-left: 15px;
}

footer .copyright_parts {
  margin-top: 45px;
}

footer .copyright_parts p {
  color: #bbb;
}

footer .copyright_parts p span {
  color: #ba933e;
}

footer .pay_option {
  text-align: right;
  margin-top: 45px;
}

footer .pay_option img {
  width: 350px;
  height: auto;
}

@media (max-width: 990px) {
  .top_tem {
    height: 100%;
  }
  .container {
    max-width: 100%;
    overflow-x: hidden;
  }
  header {
    position: unset;
  }
  .top_header {
    border-bottom: 1px solid #444;
  }
  .nav_top {
    border-bottom: 1px solid #444;
  }
  .nav_lang {
    float: left;
  }
  .nav_curr {
    float: right;
  }
  .slider {
    position: unset;
  }
  .banner_main .banner .banner_right .banner_right_bottom .banner_carts .banner_carts_img .sec_img .mid_btn {
    padding: 0px 2px;
  }
  .banner_main .banner .banner_right .banner_right_bottom .banner_carts .go_carts {
    display: block;
  }
  header .bottom_header .navbar .carts {
    display: none;
  }
  .carousel-control-prev, .carousel-control-next {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */