$brand:rgba(36,36,36,0.86);
$color:#bbb;
$o:#ba933e;
$bcolor: #444;
$w:#fff;
$dark:#000;
$para:#888;
$btn_bgg:rgba(255,255,255,0.9);
$btn_h:#ba933e;


html{
    scroll-behavior: smooth;
}
.starter{
    color: $bcolor;
    font-size: 14px;
    border-bottom: 1px solid $color;
    display: inline;
    font-weight: 600;
    text-transform: capitalize;
}
 .item_products{
     margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    .product{ 
        position: relative;
         .product_img{
             overflow: hidden;
             position: relative;
             img{
                 width: 100%;
             }
             .option_btn{
                background: $o;
                width: 100%;
                font-size: 20px;
                font-weight: 600;
                color: $w;
                position: absolute;
                bottom: -20px;
                left: 0;
                opacity: 0;
                padding: 10px 10px;
                cursor: pointer;
                a{
                    span{
                        color: $w;
                        background: $o;
                        cursor: pointer;
                    }
                }
               
            }
          
           .button_group{
            position: absolute;
            right: -8px; 
            top: 0px;
            opacity: 0;
            z-index: 6;
            
            .b_g_ul{
                li{
                    padding: 5px;
                   
                    a{
                        border: 1px solid $o;
                        color: $o;
                       padding: 3px;
                       background: $w;
                       cursor: pointer;
                       transition: 0.2s;
                       &:hover{
                           background: $o;
                           color: $w;
                           border: 1px solid $o;
                       }
                    }
                }
            }
        }
         
         
         }
         .deal_title{
            position: absolute;
            left: 0;
            top: -2px;
            .dicount{
               background: $o;
               color: $w;
               font-size: 12px;
               font-weight: 500;
               padding: 2px 10px;
            }
            .hot_deal{
               background: $dark;
               color: $w;
               font-size: 12px;
               font-weight: 500;
               padding: 2px 10px;
               margin: 0 -5px;
            }
        }
        .p_content{
            padding: 10px 0;
            p{
                font-size: 14px;
                font-weight: 400;
                color: $para;
                letter-spacing: 1.5px;
                margin: 0;
            }
            h6{
                font-size: 16px;
              font-weight: 400;
                padding-top: 10px;
            }
            h5{
                padding: 0;
                margin-top: -5px;
                font-size: 16px;
                font-weight: 400;
                 
               span{
                   color: $o;
                   position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 40%;
                        width: 100%;
                        height: 1.5px;
                        background: $o;
                    }
               }
                 
            }
        }
        &:hover{
            .option_btn{
             opacity: 1;
             transform: translateY(-20px) translateY(0%);
             transition: 350ms ease-out;
            }
            .button_group{
                opacity: 1;
                // display: block;
                transform: translateX(2px) translateX(-10%);
                transition: 550ms ease-in-out;
            } 
        }
     }
 } 
 
 